### Where I Am

I'm a husband and a father. I'm also a US citizen currently living in the UK while finishing up my masters at the Royal College of Art. I'll be graduating in a couple of weeks, just in time for a career change! While art has helped shape me, programming and the web have beguiled me. I'm currently searching for a programming job in the US to move back to in the next few months. If you're looking to hire, get in touch!
