<h3>Where I Am</h3>
    <p>
      Husband and father of two girls. I'm a U.S. citizen currently living in
      the U.K. while finishing up my masters at the Royal College of Art (I'll
      be done in a couple of weeks; then we'll be moving back to the states).
    </p>